extends ../email-template

block emailTitle
  span You can start collaborating on "#{containerTitle || 'Untitled Project'}"

block emailText
  if role == 'viewer'
    p You have accepted the invitation #{invitingUser ? `from ${invitingUser.name}` : ''} to view project "#{containerTitle || 'Untitled Project'}" at #{frontendAppHostname}.
  else
    p You have accepted the invitation #{invitingUser ? `from ${invitingUser.name}` : ''} to collaborate on project "#{containerTitle || 'Untitled Project'}" at #{frontendAppHostname}.

block emailAction
  a(href=actionURL, title="open project" target="_blank", style="font-size: 16px; font-family: Lato, Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 4px; padding: 8px 32px; border: 1px solid #0d79d0; display: inline-block;").btn-radius Open Project
